body {
  text-align: center;
  background-image:url(background.jpg);
  background-size:100%;
  background-repeat: no-repeat;

}

h1 {
  color:white;
  font-family: 'Roboto Condensed', sans-serif;
  padding:20px;

}

p{
  font-family: 'Roboto Condensed', sans-serif;
  padding:30px;
  color: white;
  font-size: 20px;
}

#footer {
  width: 50%;
  height:150px;
  margin:auto;
}
