body {
  text-align: center;
  background-color: #A0CECB;

}

h1 {
  background-color:white
  color:black;
  font-family: 'Roboto Condensed', sans-serif;
  padding:20px;

}

p{
  border:5px solid black;
  font-family: 'Roboto Condensed', sans-serif;
  padding:30px;
  background-color: #7DB1B1;
}

#footer {
  width: 100%;
  height:150px;
  border: 5px solid black;
  
}
